<div class="body_container">
  <h1 class="writing"><%= @list.title %></h1>

  <ol>
    <%- @list.list_items.each do |item| %>
      <div class="list_container">
        <div class="item_title"><li><%= item.title %></li></div>
        <div class="button wiki"><%= link_to "Wiki", item.wiki_url, target: "_blank" %></div>
        <%- if current_user == @list.user %>
          <div class="button edit_button"><%= link_to "Edit item", edit_list_list_item_path(item.list_id, item) %></div>
          <div class="button delete_button"><%= link_to 'Delete item', list_list_item_path(@list, item), method: :delete, data: { confirm: "Delete \"#{item.title}\"?" } %></div>
        <%- end %>
      </div>
    <%- end %>
  </ol>

  <%- if @list.list_items.count < 7 %>
    <%- if current_user == @list.user %>
      <%= render 'list_item_creation' %>
    <%- end %>
  <%- end %>

  <%- if current_user == @list.user %>
    <%= render 'publish_button' %>
  <%- end %>
</div>
