<div class="sign_in_up_form_container">
  <div class="sing_in_up_form_wrapper">
    <h1 class="sign_in_up_title">Sign in</h1>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="sign_in_up_form">
        <div><%= f.label :login %>
        <%= f.text_field :login, :autofocus => true %></div>

        <div><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div class="sign_in_up_button"><%= f.submit "Sign in" %></div>
      </div>
    <% end %>

    <div class="shared_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
