<div class="body_container">
  <h1 class="writing"><%= @item.title %></h1>

  <%- if @item.description %>
    <div class="description_container">
      <p>Description &amp Extra Info:</p>
      <p><%= auto_link(@item.description) %></p>
    </div>
  <%- end %>

  <div class="comments">
    <p class="writing">Comments</p>
    <%# I have to pop the last one out because %>
    <%# the controller was making a new comment entry %>
    <%# that was interfering with the blank? method %>
    <%- @comments.pop %>
    <%- unless @comments.blank? %>
      <%- @comments.each do |comment| %>
        <%= comment.user.username + ":" %>
        <%= comment.body %>
        <br/>
      <%- end %>
    <%- end %>
  </div>

  <%- unless current_user.nil? %>
    <%= simple_form_for [@item, @comment] do |f| %>
      <%= f.input :body, label: "Comment" %>
      <%= f.button :submit %>
    <%- end %>
  <%- end %>

  <%- if current_user == @item.list.user %>
    <div class="spacing_for_list">
      <p>Note: Other users do not see anything below this.</p>
    </div>

    <%= simple_form_for @item do |f| %>
      <%= f.input :description %>
      <%= f.button :submit, "Change info" %>
    <%- end %>
  <%- end %>
</div>
